.correct-answer {
  font-size: 24px;
  font-weight: bold;
  color: #2d953f; /* 正解の緑 */
}

.correct-answer.animated {
  animation: rainbow-text 2s linear infinite;
}

@keyframes rainbow-text {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}
